<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--charset alfabe içindir UTF-8 latin alfabesi içindir bunu sebebi web sitesinin harflerinin doğru gözükmesidir-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="10;URL=main.html">
    <!--Burada Site açıldıktan 10 sn sonra main.htmlye gitsin demektedir-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="dominantcolor" content="red">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!--Buradaki integrity CDNmizin güvenlik açığı durumunda birşey olmamasını sağlar.-->
    <title>Kodluyoruz</title>
    <script src="js/main.js" async></script>
    <!--Burada src= hem dahil etmek istediğimiz script dosyamızın yolunu söyler hemde bir 
        web script yolunu söyler-->
    <!--Buradaki async script kodumuzun asenkron olarak çalışmasını sağlar-->
    <script type="application/javascript">
        document.getElementById("someTestDiv").innerHTML = "This code runs as js";
    </script>
 <!-- Burada type=web browser tarafından scriptin nasıl yorumlanıcağını belirler burada javascript olarak yorumluyor -->
 <script>
    document.write("Script ile yazıldı")
</script>
<link rel="stylesheet" href="css/style.css">
<link rel="icon" href="" type="image/x-icon">
<!--Burada rel kısmmı dış kaynaktaki içeriği html dökumanımıza nasıl göstericeğimizi söylemektedir genellikle stylesheet ve icon kullanılmaktadır
href kısmı dosyamızın ya da baplantının path yazıldığı yerdir
type ise dosyanın tipni vermektedir. -->

</head>
<body>
    <h1>Liste Türleri</h1>
    <ul>
        <h2>Sırasız Listeler</h2>
        <li>HTML</li> <!--Sırasız Liste-->
        <li>CSS</li>
        <li>JavaScript</li>
    </ul>

    <ol>
        <h2>Sıralı Listeler</h2>
        <li>HTML</li> <!--Sıralı Liste-->
        <li>CSS</li>
        <li>JavaScript</li>
    </ol>

    <h3><strong>Kodluyoruz</strong></h2>
    <!--Burada <strong> paragrafları kalınlaştırır-->
    <p><b>HTML</b> <br>Etiketleri</p>
    <!--Burada <b> metni kalınlaştırır-->

    <img width="800" height="400" src="img/doga.jpg" alt="resim test">
    <!--Burada src=resmin path(yolunu)yazıyoruz, alt=resmin açıklamısını yazıyoruz bunu istersek yazmayabiliriz-->
    
    <iframe width="800" height="400" src="https://www.youtube.com/embed/VUDP2-lPA5o"
    title="HTML I En Çok Kullanılan HTML Etiketleri Nelerdir? #2" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
    <!--Burada <iframe> etiketi bizim belge içinde belge göstermemizi sağlar genelde başka yerdeki belgeyi göstermeye yarar-->
    
    <button>buton</button>

    <!-- Örnek Yorum Satırı -->
    <!--
        2.Örnek Yorum Satırı
    -->
    <!-- hızlı bir yorum satırı için ctrl+shift+/ -->

</body>
</html>